.App {
    text-align: center;
    text-align: center;
    /* font-size: 300px; */
}

body {
    background-color: #20a956;
}

.timer-custom-fontsize {
    font-size: 200px;
    font-variant-numeric: tabular-nums;
}

.fail-message {
    white-space: pre-wrap;
}